@media screen and (min-width:1200px){
  .section-one {
    background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/index/peopleoffice.jpg); 
       
  } 
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-one {
    background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-img/desktop-2x.jpg)
  }
}

@media screen and (min-width: 1200px){
  .container {
    max-width: 1158px;
    padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
  }
  .doing-box {
    padding-bottom: 120px;
    display: flex;
  }
  .menu-open{
    
    display: none;
  }
  .section-three-title {
    font-size: 36px;
    line-height: 1.1;
    font-weight: 700;
    color: var(--dark);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  .section-three-items {
    display: flex;
    gap: 24px;
  }
  .svg-components-description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background-color: var(--btn-portfolio-back-primary);
    border-radius: 4px;
  }
  .main-description-title {
    font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;

  }
  .header-adress-list{
    flex-direction: row;
    gap: 40px;
  }

  
 .features-description{
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  
 }
 .main-description-text {
  width: 264px;
  font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}
 .our-team-items{
  flex-direction: row;
  flex-wrap: wrap;
  
 }
 .custumer-list {
  display: flex;
  gap: 24px;
  margin-top: 72px;
  max-width: 1158px;
}

.footer-inpu-items{
  
  flex-direction: row;
}
  }


