@media screen and (min-width: 1200px){
    .container {
      max-width: 768px;
      margin-left: auto;
      margin-right: auto;
  }
  .doing-box {
    padding-bottom: 120px;
  }
  .section-three-title {
    font-size: 36px;
    line-height: 1.1;
    font-weight: 700;
    color: var(--dark);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  .section-three-items {
    display: flex;
    gap: 24px;
  }
    
  }