@media screen and (max-width: 767px){


    @media screen and (min-device-pixel-ratio: 2) and (max-width:767px),
    screen and (min-resolution: 192dpi) and (max-width:767px),
    screen and (min-resolution: 2dppx) and (max-width:767px) {
    .section-one {
      background-image: linear-gradient( to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ), url(../images/index/peopleoffice.jpg);;
    }
  } 
    .container {
        max-width: 428px;
        margin-left: auto;
        margin-right: auto;
    }
    .features-description {
        display: flex;
        flex-direction: column;
        gap: 72px;
        align-items: center;
      }
      .our-team-items {
        display: flex;
        flex-direction: column;
        gap: 72px;
        align-items: center;
      }
      .portfolio-description {
        display: flex;
        flex-wrap: wrap;
        margin-top: 72px;
        gap: 48px 24px;
        list-style: none;
      }
      .our-team-items {
        display: flex;
        flex-direction: column;
        gap: 72px;
        align-items: center;
      }
    .our-team-box {
            background: var(--btn-portfolio-back-primary);
            padding-bottom: 128px;
            padding-top: 96px;
            text-align: center;
        }
             
    .footer-container {
            display: flex;
            flex-direction: column;
            
            align-items: center;
            text-align: center;
            align-content: center;
        }
        .header-container{
            display: flex;
        align-items: center;
        justify-content: space-between;
             }


        .input-footer-title {
        font-weight: 500;
         font-size: 16px;
         line-height: 1.5;
         color: #ffffff;
         letter-spacing: 0.02em;
        text-align: center;}

        .footer-box-text{
            text-align: left;
          }
        
    
        .icon-menu-open{
        outline: 1px solid red;
        stroke: #424242;
}
      .menu-open{
        background-color: transparent;
        line-height: 0;
        padding: 0;
        border: none;
        stroke: #2E2F42;
      }
      /* hero */
      
        .section-one-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0.02em;
        color: var(--background);
        text-align: center;
        width: 290px;
        margin-left: auto;
        margin-right: auto;
      }
      /* inputfooter */
         .input-area-footer{
  
        background-color: transparent;
        border: 1px solid #FFFFFF4D;
        height: 40px;
      width: 100%;
      box-shadow: 0px 4px 4px 0px #00000026;
      padding-left: 16px;
      border-radius: 4px;
      color: var(--background);
      
      }

        .button-footer{
        font-size: 16px;
        padding-left: 24px;
        line-height: 1.5;
        font-weight: 500;
        letter-spacing: 0.04em;
        width: 165px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;
        padding: 0;
        color: var(--background);
        background: var(--primary-brand);
        box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
        border-radius: 4px;
        border: none;
        bottom: none;
        cursor: pointer;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      .input-footer-title{
        text-align: center;
    
    font-weight: 500;
    line-height: 1.5;
    color: var(--background);
      
      
      }
      .input-footer{
  
        display: flex;
        flex-direction: column;
        margin-top: 72px;
          
      }


}

    
    

    