@media screen and (min-device-pixel-ratio: 2) and (min-width:768px),
    screen and (min-resolution: 192dpi) and (min-width:768px),
    screen and (min-resolution: 2dppx) and (min-width:768px) {
  .section-one {
    background-image: linear-gradient( to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ), url(../images/bg-img/tablet-bg.jpg);;
  }  
} 

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-one {
    background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-img/tablet-2x.jpg)
  }
}

@media screen and (min-width: 768px){
    .container {
      max-width: 768px;
      margin-left: auto;
      margin-right: auto;
  }
  .our-team-items {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
}
 
.header-adress-list {
  align-items: center;
  display: flex;
  gap: 40px;
}
.header-list {
  display: flex;
  margin-left: 76px;
  gap: 40px;
}

.header-list-text{
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--dark);

  position: relative;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}


.header-list-text::after{
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  
  position: absolute;
  left: 0px;
  
  
  bottom: -1px;
}

.header-list-text:is(:hover):after{
  display: block;
  background-color: var(--pressed-state);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  
}
.header-list .header-list-text:is(:hover, :focus) {
  color: var(--focus-blue);
}

.header-adress {
  margin-left: auto;
}

.header-adress-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.header-adress .header-adress-list .adress-info {
  font-style: normal;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-adress .header-adress-list .adress-info:is(:focus, :hover) {
  color: var(--focus-blue);
}

 
  .navigation {
    display: flex;
  }
  .box-header {
    align-items: center;
    display: flex;
  }
  .header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-adress-list{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 6px;
  }

  .section-one-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: var(--background);
    text-align: center;
    width: 496px;
    
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .features-description{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 72px 24px;
  }
  .main-cards{margin: 0;}

  .main-description-title{
    text-align: left;
  }
  .main-description-text{
    width: 353px;
  }
  .our-cargo{
    font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.02em;
color: #434455;
  }
  .button-list{
    justify-content: center;
  }
  .our-name{
    font-weight: 500;
font-size: 20px;
line-height: 24px;
text-align: center;
letter-spacing: 0.02em;

color: #2E2F42;
  }
  .custumer-list{
    display: flex;
    flex-wrap: wrap;
    max-width: 768px;
    justify-content: center;
    margin-top: 72px;
    gap: 72px 24px;
  }
  .menu-open{
    display: none;
  }
  .doing-box{
    display: none;
 }

  /* footer */
  

  .footer-container {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    text-align: left;
    align-content: center;
}
.input-area-footer{
  
  background-color: transparent;
  border: 1px solid #FFFFFF4D;
  height: 40px;
width: 100%;
box-shadow: 0px 4px 4px 0px #00000026;
padding-left: 16px;
border-radius: 4px;
color: var(--background);

}
.all-footer{
  display: flex;
    flex-wrap: wrap;
}
  .button-footer{
  font-size: 16px;
  padding-left: 24px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  width: 165px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  padding: 0;
  color: var(--background);
  background: var(--primary-brand);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  border: none;
  bottom: none;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-footer-title{
  text-align: center;

font-weight: 500;
line-height: 1.5;
color: var(--background);


}
.input-footer{

  display: flex;
  flex-direction: column;
  margin-top: 72px;
    
}
.input-footer-title {
  font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   color: #ffffff;
   letter-spacing: 0.02em;
  text-align: center;}


 

  /* our team */
  .our-team-items {
    display: flex;
    flex-wrap: wrap;
    
    align-items: center;
  }
  .our-team-list{width: 263px;}
  

  /* portfolio */
  .portfolio-description {
    
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    margin-top: 64px;
    row-gap: 72px;
  }
  .main-description-cards{
    width: 356px;
  }
}
